* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffffff;
}

body {
	background-color: #10061e;
}

.boost-calculator {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 40px;
	border-radius: 12px;
	width: max-content;
}

.boost-calculator__title {
	font-size: 50px;
	margin-bottom: 44px;
}

.boost-calculator__description {
	font-size: 24px;
	margin-bottom: 50px;
}

.boost-calculator__game-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 37px;
}

.boost-calculator__arrow-button {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-size: 40px;
	cursor: pointer;
}

.boost-calculator__game-name {
	font-size: 50px;
	font-weight: bold;
	margin: 0 20px;
}

.boost-calculator__range-selector {
	margin-top: 20px;
}

.boost-calculator__range-label {
	font-size: 24px;
	margin-bottom: 22px;
}

.boost-calculator__slider-inputs {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	gap: 4px;
}

.boost-calculator__input {
	width: 219px;
	height: 53px;
	padding: 10px;
	border-radius: 8px;
	border: none;
	font-size: 24px;
	background-color: rgba(230, 66, 79, 0.08);
	border: 1px solid rgba(255, 255, 255, 0.29);
}

.boost-calculator__range {
	width: 100%;
	cursor: pointer;
	background-color: transparent;
	-webkit-appearance: none;
}

.boost-calculator__range::-webkit-slider-runnable-track {
	height: 2px;
	background: #ff5e5e;
}

.boost-calculator__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: #e6424f;
	border-radius: 50%;
}

.boost-calculator__calculate-button {
	background-color: #ff5e5e;
	border: none;
	color: white;
	padding: 14px 33px;
	font-size: 24px;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 44px;
	transition: background-color 0.3s;
}

.wrapBtn {
	display: flex;
	justify-content: center;
}

.boost-calculator__calculate-button:hover {
	background-color: #ff4d4d;
}
